* {
    font-family: "Roboto", sans-serif;
}

label {
    font-family: "Roboto", sans-serif;
}

.form (
    display: flex;
)

.footer {
    background-color: #FF4C4C;
    grid-column: span 3;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 50px;
  }