* {
    font-family: "Roboto", sans-serif;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    border: .1px solid grey;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 80px;
}

#button {
    padding: 5px 17px;
    border: none;
}

.footer {
    background-color: #FF4C4C;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }